body {
  font-family: "Rock Salt", sans-serif;
  font-weight: 700;
  background-color: #2C2930;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    background-color: #2C2930;
    width: 100%;
    height: 100vh;
    overflow: visible;
}

/* MAIN COLUMN */
.main {
    padding-top: 30px;
    background-image:url('background0.png');
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    z-index: 10;
    justify-content: start; 
    align-items: center; 

    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.2);
}

#logo {
    width: auto;
    height: auto;
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    align-items: center;
    position: relative;
    z-index: 2;

}

.content-border-box {
    margin-top: 40px;
    color: #C5BBB8;
    background-color: #2C2930;
    box-shadow: 10px 10px #b8c5c0;
    border-radius: 10px;
    width: 80%;
}

.content-border-box p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    padding: 18px 30px;
    display: block;
    font-size: medium;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
}

/* MAIN COLUMN - flipbook*/
#feature-flipbook {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 100px;
    height: 100%;
    width: 80%;
    padding: 30px 0;
    background-image: url("bg-images/watermarble.jpg");
    background-repeat: repeat;
    opacity: 0.8;
    border-radius: 30px;
    box-shadow: 10px 10px 25px black;
}

.book {
    margin: 30px 20px;
    position: relative;
    height: 90vh;
    width: 70vh;
    transition: transform 0.5s;
}

.paper {
    /* absolute so pages overlap */
    position: absolute;
    width: 70vh;
    height: 90vh;
    /* for 3D effect */
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 1px solid black;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
    box-shadow: 0 5px 5px black;
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 4rem;
    font-weight: 900;
    height: 40px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    transition: transform 0.5s;

    color: white;
    text-shadow: 0px 0px 10px black;
}


button:hover {
    color: #636363;
}

/* Paper stack order */
#p1 {
    z-index: 8;
}

#p2 {
    z-index: 7;
}

#p3 {
    z-index: 6;
}

#p4 {
    z-index: 5;
}

#p5 {
    z-index: 4;
}

#p6 {
    z-index: 3;
}

#p7 {
    z-index: 2;
}

#p8 {
    z-index: 1;
}

/* STICKY NOTE COLUMN */
.sticky-notes {
    z-index: 1;
    height: 100vh;
}


.note {
    color: #333;
    margin-left: 10%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px 30px;
    padding-right: 50px;
    padding-left: 40px;
    border-radius: 30px 0 0 60px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.2s ease;
    cursor: pointer;
    z-index: 1;
}

.note p {
    display: block;
    margin: auto auto;
    font-size: 15px;
    text-shadow: -0.5px 0.5px 1px rgb(100, 100, 100);

}

.note:hover {
    transform: translateX(30px);
    background-color: #ffefb5;
}


#issue-note { 
    background-color: #D4AE6B;
    border: 5px solid #B76D79;
    border-right: none;
}

#about-note { 
    background-color: #B76D79; 
    border: 5px solid #544871;
    border-right: none;
}

#contact-note { 
    background-color: #C5BBB8; 
    border: 5px solid #746161;
    border-right: none;
}

#ripped-page {
    position: absolute;
    right: 0;
    z-index: 1;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 12px; /* spacing between photos */
    width: 80%; /* optional: keeps it from stretching too wide */
    margin: 40px auto; /* centers the grid */
}

.photo-grid img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    box-shadow: 0 6px 14px rgba(20,20,20,0.06);
}



.photo-grid a:focus img{
    outline: 3px solid #6aa7ff;
    outline-offset: 4px;
}
